.masthead {
    text-align: center;
    color: white;
    background-image: url("../../public/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
}

.intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
}

.header-btn {
    background-color: #ecba24!important;
    border-color: #ecba24!important;
    font-weight: bold!important;
    padding: 15px 25px!important;
}

.header-btn:hover {
    background-color: #424649 !important;
    border-color: #424649 !important;
}
